
.icon-mail:before { content: '\e802'; } /* '' */
.icon-keyboard:before { content: '\f11c'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-plug:before { content: '\f1e6'; } /* '' */
.icon-snapchat-ghost:before { content: '\f2ac'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-youtube:before { content: '\f313'; } /* '' */
